rootUser: "minioadmin"
rootPassword: "minioadmin"

mode: standalone

# ขยายเพดานให้ Pod หายใจออก
resources:
  requests:
    cpu: "250m"
    memory: "512Mi"
  limits:
    cpu: "1000m"
    memory: "1Gi"

persistence:
  enabled: true
  size: 2Gi

# เปิด Service เป็น NodePort เพื่อให้ Minikube เจาะอุโมงค์ให้เราง่ายๆ
consoleService:
  type: NodePort